<h1>Line Chart</h1>
<!-- Displaying Line chart -->
<div style="display: block;width: 100%">
    <canvas baseChart width="100" height="30"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
</div>

<br>

<h1>Area Chart</h1>
<!-- Displaying Area chart -->
<div style="display: block;width: 100%">
    <canvas baseChart width="100" height="30"
      [datasets]="areaChartData"
      [labels]="areaChartLabels"
      [options]="areaChartOptions"
      [colors]="areaChartColors"
      [legend]="areaChartLegend"
      [chartType]="areaChartType"
      [plugins]="areaChartPlugins">
    </canvas>
</div>