<div>
  <!-- Input for updating doughnut chart -->
  <input type="text" placeholder="Enter Company" #company>
  <input type="text" placeholder="Enter sales" #sales1>
  <input type="text" placeholder="Enter sales" #sales11>
  <input type="text" placeholder="Enter sales" #sales111>
  <button (click)="submit3(company.value, sales1.value, sales11.value, sales111.value)">Submit</button>

  <br>

    <!-- Input for updating Bar Graph -->
    <input type="text" placeholder="Enter Car Company" #car>
    <input type="text" placeholder="Series A" #sales>
    <input type="text" placeholder="Series B" #saless>
    <button (click)="submit2(car.value, sales.value, saless.value)">Submit</button>

  <br>
    
    <!-- Input for updating pie chart -->
    <input type="text" placeholder="Enter Expense Category" #category>
    <input type="text" placeholder="Enter Expense in Rupees" #expense>
    <button (click)="submit1(category.value, expense.value)">Submit</button>
</div>

<br>

<!-- Displaying Pie Chart -->
<div>
 <div style="display: block;width: 33%; float: right">
    <canvas baseChart height="150px"
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
    </canvas>
  </div> 

<!-- Displaying Bar Graph -->
  <div style="display: block;width: 33%; float: right;">
    <canvas baseChart height="150px"
      [datasets]="barChartData" 
      [labels]="barChartLabels" 
      [chartType]="barChartType"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend">
    </canvas>
  </div>
</div> 

  <br>

<!-- Displaying Doughnutchart -->
<div style="display: block; width: 33%; float: right">
  <canvas baseChart height="150px"
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    [legend]="doughnutChartLegend">
  </canvas>
</div>