<input type="text" placeholder="Write a Sentence..." #word>
<button (click)="manupulation(word.value)">Submit</button>

<div *ngIf="hasText; else elseBlock">
<p>Word Count {{ wc }}</p> <!-- displaying word count -->
<p> Vowels {{ vowels }}</p> <!-- displaying vowels count -->
<p>Article count {{ artcount }}</p> <!-- displaying articles count -->
<p>Longest Word {{ maxlength }}</p> <!-- displaying length of longest word  -->
<p>Shortest Word {{ minlength }}</p> <!-- displaying length of shortest word -->
</div>

<ng-template #elseBlock> Please enter something</ng-template>